@font-face {
  font-family: sans-iran;
  src: url("/assets/iran-sans-300.woff");
  font-weight: 100;
}
@font-face {
  font-family: iran-nastaliq;
  src: url("/assets/IranNastaliq-Web.woff2");
  font-weight: 100;
}
* {
  font-family: sans-iran;
  font-weight: 100 !important;
}
.ant-input {
  background: #f9fafc !important;
  border-radius: 8px !important;
  border: none !important;
  padding: 20px !important;
}
.ant-select {
  background: #f9fafc !important;
  border-radius: 8px !important;
  border: none !important;
  padding: 20px !important;
  color: black !important;
}

.ant-select-selector {
  border-radius: 0.25rem !important;
  border: none !important;
  background: #f9fafc !important;
}

.ant-select-selector {
  border: none !important;
  background: #f9fafc !important;
}
.ant-select-selection-search input {
  border: none !important;
  background: #f9fafc !important;
}
.ant-select-selection-item {
  border: none !important;
  background: #f9fafc !important;
}

.ant-modal-header {
  border-radius: 10px 10px 0px 0px;
  background-color: #06437c;
}
.ant-modal {
  border-radius: 10px 10px 0px 0px !important;
}
.ant-modal-content {
  border-radius: 10px 10px 10px 10px;
  /* background: red; */
}
.ant-modal-title {
  color: white !important;
}
.ant-table-thead {
  border-radius: 8px !important;
}
.ant-table-thead > tr > th {
  background: #f8fafc !important;
  border-bottom: none !important;
  color: #06437c !important;
}

.ant-pagination-item,
.ant-pagination-item-link {
  border-radius: 2rem !important;
  border: 1.1px solid #f7f9fb !important;
}

.ant-pagination-item-active {
  color: white !important;
  background-color: #06437c;
  border: none;
}
.ant-pagination-item-active a {
  color: white !important;
}
.ant-pagination {
  display: flex;
  justify-content: center !important;
  padding: 1rem;
}
.ant-search-custom {
  background: rgb(18, 76, 131) !important;
  border-radius: 8px !important;
  border: none !important;
  width: 350px;
  padding: 20px !important;
  color: white;
}
